# macOS
.DS_Store

# Text file backups
**/*.rs.bk

# Build results
target/

# Code coverage stuff
*.profraw

# IDEs
.vscode/
.idea/
*.iml

# Auto-gen
.cargo-ok

*.pyc
__pycache__/
compiled
logs

node_modules

*.wasm
*.wasm.gz